.followingpage{
  .likepage-song-item-coverart{
    border-radius: 50% ;
    object-fit: cover;
  }

  .likepage-song-item-title{
    padding: 10px 0px;
    text-align: center;
  }

  .useless-grey-box{
    border-radius: 50%;
  }


}
