
.indexlist{
  clear: both;
  margin-bottom: 36px;
}



.userpage-belowheader {
  padding: 0 30px;
  box-sizing: border-box;
}

.songindexlist {
  width: 67%;
  height: 100vh;
}

.index {
  width: 1240px;
  align-items: center;
  box-sizing: border-box;
  background-color: white;
  margin: 0 auto;
  padding: 0 30px;
  position: relative;
  bottom: 5px;
}

.usersongindex {
  width: 1240px;
  align-items: center;
  background-color: white;
  margin: 0 auto;
  position: relative;
  bottom: 2px;
  // padding: 0 30px;
}

.streamheader {
  font-weight: 100;
  color: #999;
  font-size: 18px;
  font-family: "Interstate","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;
  margin-bottom: 25px;
}

.Homepagenavdiv {
  margin-bottom: 30px;

}

.flexfoo {
  display: inline-block;
  margin: 0 12px -1px;
}

.homepage-nav-list{
  border-bottom: 1px solid #f2f2f2;
    list-style: none;
    margin: 0;
    font-family: "Interstate","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;
    display: flex;
    flex-direction: row;
}

.homepage-nav {
  padding-top: 30px;
    a {
    border-bottom: 1px solid transparent;
    color: black;
    display: block;
    font-size: 24px;
    line-height: 1.6;
    text-decoration: none;
    font-family: "Interstate","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;
    }

    a:hover {
      background-color: white;
      cursor: pointer;
      color: black;
      border-color: black;
    }


    a.active {
        border-color: #f50;
        color: #f50;
        cursor: default;
        background-color: transparent;

      }




}
