
.header-replacement-songpage {
  display: inline-block;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%
}


.song-information {
  // display: inline;
  // display: flex;
  // flex-direction: column;
}


.song-header {
    display: flex;
    flex-direction: row;
    // background-color: none;
    width: 100%;
    margin: auto;
    right: 30px;
    background-repeat: no-repeat;
    background-size: cover;
    background: -moz-linear-gradient(-45deg, #518489 0%, #097054 100%);
    position: relative;
    height: 340px;
    padding-left: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 30px;
    overflow: hidden;
    background: -webkit-linear-gradient(left, #0abd8d 0%,#097054 100%);




    .song-information {
      height: 310px;
      background-color: none;
      width: 65%;

      .song-info {
        height: 67%;
        background-color: none;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        // justify-content: center;
        // flex: 1;


        .right {
          position: relative;
          bottom: 20px;

          width: 33%;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          text-align: right;


          .time{
            .how-long-ago {
              background-color: none;
            }
            width: 100%;
            height: 50px;
          }

          .genre{
            width: 100%;
            height: 50px;

          }

        }

        .left {
          position: relative;
          bottom: 6px;
          width: 67%;
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          .playBTN {
            width: 30%;
            height: 33%;
            .PlayinSongPage {
              content: '';
              z-index: 1;
              left: 0;
              top: 0;
              right: 0;
              bottom: 0;
              transition: opacity .3s;
              opacity: 1;
              background-image: asset-url("songshow-playbutton.png");
              background-size: 40% 60%;
              background-position: 60% center;
              background-repeat: no-repeat;
            }
          }

          .infospan {
            width: 70%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;



            .artist{
              text-align: left;
              width: 100%;
              height: 50px;
            }

            .title{
              text-align: left;
              width: 100%;
              height: 50px;


            }

          }


        }

      }



    }

    .waveform {
      height: 33%;
      width: 700px;
      background-color: none;
    }

}









.song-coverart img {
      // border-radius: 50%;
      position: absolute;
      // top: 20px;
      right: 40px;
      z-index: 1;
      max-height: 340px;
      width: 340px;
      object-fit: contain;

    }




.song-coverart {


  // justify-content: center;
  //
  // height: 185px;
  // width: 185px;
  // // border-radius: 50%;
  //
  // position: relative;
}

// .user-avatar-circle {
//     justify-content: center;
//     align-items: center;
//     display: flex;
//     flex: 1;
//   }

.song-header-artist {
  margin-top: 18px;
  // width: auto;
  // display: inline-block;
  color: #ccc;
  font-weight: 100;
  font-size: 16px;
  line-height: 1.2;
  transition: opacity .5s linear;
  font-family: "Interstate","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;
}

.song-header-title {

  font-weight: 100;
  max-width: 100%;
  box-sizing: border-box;
  font-size: 24px;
  // line-height: 37px;
  display: inline;
  position: relative;
  font-family: "Interstate", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Garuda, Verdana, Tahoma, sans-serif;
}

.song-page {
  position: relative;
  bottom: 6px;
  margin: 0 auto;
  height: 100%;
  width:  1240px;
  padding-bottom: 50px;
  background: white;
  padding: 0px 30px;
  box-sizing: border-box;



  span {
    margin-top: 7px;
     background-color: black;
     color: white;
     overflow-wrap: break-word;
     word-wrap: break-word;
     word-break: break-word;
     line-height: 37px;
     padding: 4px 5px;
     display: inline-block;
    //  margin-left: 100px;

    .song-header-artist {
      line-height: 1.2;

    }
     &:hover {
      color: white;
      cursor: pointer;
     }






   }


   .genre-tag {
     border-radius: 20px;
     max-width: 120px;
     display: inline-block;
     font-family: "Interstate","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;
     font-weight: 100;
     font-size: 14px;
     overflow: hidden;
     white-space: nowrap;
     text-overflow: ellipsis;
     word-break: normal;
     cursor: pointer;
     padding: 0px 7px;
     background-color: #999;
     border: 1px solid #999;
   }

   .how-long-ago {
     color: white;
     background-color: transparent;
     font-family: "Interstate","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;
     margin-bottom: 16px;
     font-weight: 100;
     font-size: 16px;
     text-align: right;
     //

     }



}

.ib {
  display: inline-block;
}

.PlayinSongPage {
  // content: '';
  position: relative;
  background-color: transparent;
  border: none;

  // z-index: 1;
  // left: 0;
  top: 15px;
  right: 5px;
  // right: 0;
  // bottom: 0;
  height: 80px;
  width: 80px;
  // border-radius: 50%;
  // background-size: contain;
  // background-repeat: no-repeat;
  // // transition: opacity .3s;
  // opacity: 1;
  // background-image: asset-url("play-button.png");
}

.songpage-sidebar {
  height: 100vh;
  border: 1px solid grey;
  border-color: black;
  width: 300px;
}

.rest-of-songpage {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .left-comment-pane {
    height: 100vh;
    width: 150px;

    .artist-avatar-songpage {
      width: 120px;
      height: 120px;
      display: block;
      border-radius: 50%;
      box-shadow: rgba(0,0,0,.1)0 0 0 1px inset;
      object-fit: cover;
      background-position: 50% 50%;
    }

    .artist-info-songpage {

      .artist-info-username {
            margin: 6px 0 0px 0;
            line-height: 1.3;
            font-weight: 100;
            font-size: 14px;

            text-indent: 4px;

            .verification-badge{
              position: absolute;
              padding-left: 5px;
            }
      }
    }

  }

  .comments-songpage {
    width: 100%;
    margin: 0 10px;

    .song-date-description {
      margin: 0 10px;
      .song-dd-heading {
        margin-top: 10px;
        font-size: 14px;
        line-height: 1.3em;
        font-weight: bold;
      }

      .song-dd-text {
        font-weight: 100;
        margin: 0 0 .5em 0;
        font-size: 14px;
        line-height: 1.3em;

      }


    }


  }




}

.songpage-utilty-bar {
  display: flex;
  flex-direction: column;
  position: relative;
  border: 1px solid #fff;

  box-shadow: 0 1px 0 0 #f2f2f2;
  padding: 19px 30px 4px;
  margin-bottom: 30px;

  .songpage-user-buttons {
    padding: 10px 0px;
    height: 30px;
    display: flex;
    flex-direction: row;
    // border: 1px solid grey;
    button {
      margin: 0px 5px;
      // float: right;
    }

    .songpage-likebutton-liked {
      width: 63px;
      height: 20px;
      background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTYiIHZpZXdCb3g9IjAgMCAxNiAxNiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48dGl0bGU+c3RhdHNfbGlrZXNfZ3JleTwvdGl0bGU+PHBhdGggZD0iTTEwLjgwNSAzYy0yLjAyIDAtMi44MDQgMi4zNDUtMi44MDQgMi4zNDVTNy4yMTMgMyA1LjE5NiAzQzMuNDk0IDMgMS43NDggNC4wOTYgMi4wMyA2LjUxNGMuMzQ0IDIuOTUzIDUuNzI1IDYuNDc5IDUuOTYzIDYuNDg3LjIzOC4wMDggNS43MzgtMy43MjIgNS45ODgtNi41QzE0LjE4OCA0LjIwMSAxMi41MDcgMyAxMC44MDUgM3oiIGZpbGw9IiNGNTAiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPjwvc3ZnPg==);
      background-size: contain;
      background-repeat: no-repeat;
      vertical-align: top;
      text-align: right;
      padding: 2px 6px 2px 10px;
      border: 1px solid #e5e5e5;
      border-radius: 3px;
      background-color: #fff;
      cursor: pointer;
      color: #f50;
      font-size: 14px;
      line-height: 0px;
      white-space: nowrap;
      font-family: "Interstate","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;
      font-weight: 100;
      box-sizing: border-box;

    }

    .songpage-likebutton-notliked {
      width: 57px;
      height: 20px;
      background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTYiIHZpZXdCb3g9IjAgMCAxNiAxNiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48dGl0bGU+c3RhdHNfbGlrZXNfZ3JleTwvdGl0bGU+PHBhdGggZD0iTTEwLjgwNSAzYy0yLjAyIDAtMi44MDQgMi4zNDUtMi44MDQgMi4zNDVTNy4yMTMgMyA1LjE5NiAzQzMuNDk0IDMgMS43NDggNC4wOTYgMi4wMyA2LjUxNGMuMzQ0IDIuOTUzIDUuNzI1IDYuNDc5IDUuOTYzIDYuNDg3LjIzOC4wMDggNS43MzgtMy43MjIgNS45ODgtNi41QzE0LjE4OCA0LjIwMSAxMi41MDcgMyAxMC44MDUgM3oiIGZpbGw9IiMwMDAiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPjwvc3ZnPg==);
      background-size: contain;
      background-repeat: no-repeat;
      vertical-align: top;
      text-align: right;
      padding: 2px 7px 2px 10px;
      border: 1px solid #e5e5e5;
      border-radius: 3px;
      background-color: #fff;
      cursor: pointer;
      color: #333;
      font-size: 14px;
      line-height: 0px;
      white-space: nowrap;
      font-family: "Interstate","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;
      font-weight: 100;
      box-sizing: border-box;
    }

    .songpage-counters {
      justify-self: flex-end;
      position: absolute;
      left: 76.3%;
      bottom: 28px;;
      // margin: 0 auto !important;
      .songpage-like-count {
        width: 30px;
        height: 20px;
        background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTYiIHZpZXdCb3g9IjAgMCAxNiAxNiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48dGl0bGU+c3RhdHNfbGlrZXNfZ3JleTwvdGl0bGU+PHBhdGggZD0iTTEwLjgwNSAzYy0yLjAyIDAtMi44MDQgMi4zNDUtMi44MDQgMi4zNDVTNy4yMTMgMyA1LjE5NiAzQzMuNDk0IDMgMS43NDggNC4wOTYgMi4wMyA2LjUxNGMuMzQ0IDIuOTUzIDUuNzI1IDYuNDc5IDUuOTYzIDYuNDg3LjIzOC4wMDggNS43MzgtMy43MjIgNS45ODgtNi41QzE0LjE4OCA0LjIwMSAxMi41MDcgMyAxMC44MDUgM3oiIGZpbGw9IiM5OTkiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPjwvc3ZnPg==);
        background-size: contain;
        background-repeat: no-repeat;
        vertical-align: top;
        text-align: right;
        padding: 0px 0px 0px 0px;
        border: none;
        background-color: transparent;
        cursor: pointer;
        color: #999;
        font-size: 12px;
        line-height: 16px;
        white-space: nowrap;
        font-family: "Interstate","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;
        font-weight: 100;
        box-sizing: border-box;
      }
    }


    .editbutton {
      // position: absolute;
      width: 60px;
      height: 20px;
      background-image: asset-url("edit-pencil.png");
      background-size: contain;
      background-repeat: no-repeat;
      vertical-align: top;
      text-align: right;
      padding: 2px 11px 2px 10px;
      border: 1px solid #e5e5e5;
      border-radius: 3px;
      background-color: #fff;
      cursor: pointer;
      color: #333;
      font-size: 14px;
      line-height: 0px;
      white-space: nowrap;
      font-family: "Interstate","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;
      font-weight: 100;
      box-sizing: border-box;

      &:hover {
        transition: border .5s;
        border: 1px solid grey;
      }

    }
    .deletebutton {
      // position: absolute;
      width: 80px;
      height: 20px;
      background-image: asset-url("delete-dustbin.png");
      background-size: contain;
      background-repeat: no-repeat;
      vertical-align: top;
      text-align: right;
      padding: 2px 11px 2px 10px;
      border: 1px solid #e5e5e5;
      border-radius: 3px;
      background-color: #fff;
      cursor: pointer;
      color: #333;
      font-size: 14px;
      line-height: 0px;
      white-space: nowrap;
      font-family: "Interstate","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;
      font-weight: 100;
      box-sizing: border-box;

      &:hover {
        transition: border .5s;
        border: 1px solid grey;
      }

    }
  }

  .comment-creation-portion {
    width: calc(100% - 213px);
    margin-bottom: 10px;
    height: 40px;
    box-sizing: border-box;
    overflow: visible;
    padding: 5px;
    background: #f2f2f2;
    border: 1px solid #e5e5e5;

    .comment-currentuser-avatar {
      position: relative;
      width: 40px;
      height: 40px;
      left: -6px;
      top: -6px;
      object-fit: cover;
    }

    .comment-input-songpage {
      width: calc(100% - 40px);
      margin-left: 40px;
      position: relative;
      bottom: 40px;
      line-height: 16px;
      box-sizing: border-box;
      // display: block;
      background: #fff;
      padding: 0 9px;
      font-size: 12px;
      outline: none;
      border: 1px solid #e5e5e5;
    }

  }


}

.not-sidebar {
  display: flex;
  flex-direction: row;
}

#comment-icon {
  width: 22px;
  height: 22px;
  display: inline-block;
  background-repeat: no-repeat;
  background-size: contain;
  background-position-y: 10px;
  background-image: asset-url("comment-icon.jpg");
  margin-right: 3px;
}

.artist-info-songpage{
  font-family: "InterstateSound Tnum","Interstate","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;

  button{
    position: relative;
    min-width: 25px;
    font-size: 11px;
    padding: 2px 9px 2px 8px;
    height: 22px;
    line-height: 16px;
  }

  .artist-data{



    .artist-metadata{
      list-style: none;
      margin: 0 0 0 5px;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;

      .after-icon-badge{
        display: inline;
        position: relative;
        bottom: 3px;
        left: 3px;
      }

        .songpage-artist-followcount-image{

          width: 30%;
          margin-right: 5px;
          padding-right: 4px;
          margin-top: 5px;
          margin-bottom: 5px;
          color: #999;
          font-size: 11px;
          line-height: 12px;
          font-weight: 100;

          .follower-icon{
            width: 16px;
            height: 16px;

          }

        }

        .songpage-artist-songcount-image{
          width: 30%;
          margin-right: 5px;
          padding-right: 4px;
          margin-top: 5px;
          margin-bottom: 5px;
          color: #999;
          font-size: 11px;
          line-height: 12px;
          font-weight: 100;
          .track-icon{
            width: 16px;
            height: 16px;

          }
        }
    }


  }


}
