
.songplaybox {
  // width: 67%;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;

  .songplay-header {
    margin-bottom: 12px;
    color: #333;
    img {
      width: 30px;
      height: 30px;
      opacity: 1;
      box-shadow: rgba(0,0,0,.1)0 0 0 1px inset;
      border-radius: 50%;
      text-align: center;
      position: relative;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: 50% 50%;
      }

      a {
      color: #333;
      text-decoration: none;
      font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Garuda, Verdana, Tahoma, sans-serif;
      color: #999;
       &:hover {
         cursor:pointer;
         background-color: transparent;
         color: black;
       }
      }



  }

  .songplay-item {
    display: flex;
    flex-direction: row;
    position: relative;
    height: 100%;

      .songplay-coverart img {
        display: block;
        width: 160px;
        height: 160px;
        z-index: 2;
        object-fit: contain;
      }
      .songplay-coverart {
        margin-right: 10px;
      }


      .songplay-song {
        display: flex;
        flex-direction: column;
        width: 100%;

        .songplay-song-information {
          position: relative;
          margin: 0 0 6px 0;
          padding-top: 7px;
          min-height: 43px;
          z-index: 2;
          font-size: 16px;
          font-family: "Interstate","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;
          font-weight: 400;
          line-height: 1.3;
          display: flex;
          flex-direction: row;
          justify-content: space-between;

          img {
            margin-right: 5px;
            width: 36px;
            height: 36px;
            background-color: #f50;
            border-radius: 50%;
            margin: 1px 0;
            line-height: 18px;
            cursor: pointer;
            flex: 1;
          }
          .songplay-left{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            line-height: 1.3;
            .songplay-span-artist{
              color: #999;
              text-decoration: none;
              font-size: 12px;
              line-height: 16px;
              font-weight: 100;
              cursor: pointer;
              flex: 2;
            }

            .songplay-span-title {
              font-size: 15px;
              line-height: 1.2;
              color: #333;
              max-width: 100%;
              font-weight: 100;
              font-family: "Interstate","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;
            }
          }

          .songplay-right{
            position: relative;
            // flex:7;
            right: 0;
            .songplay-genre{
              height: 16px;
              padding: 0 6px;
              line-height: 16px;
              font-size: 12px;
              background: #999;
              border: 1px solid #999;
              border-left-width: 0;
              color: #fff;
              font-family: "Interstate","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;
              font-weight: 100;
              cursor: pointer;
              border-radius: 20px;
            }
          }

        }


        .songplay-waveform {
          height: 60px;
          position: relative;
          border: 2px solid grey;
        }

        .songplay-buttonbar {
          margin-top: 10px;
          height: 30px;
          border: 2px solid grey;

        }






      }






    }






}
