html {
  height: 100vh;
}

.centerme {
  width: 100%;
  display: flex;
  justify-content: center;
}

.invisible{
  position: relative;
  width: 1373px;
  top: 17px;

}
 .modal-children-container {
   box-sizing: border-box;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -89%);
   z-index: 9999 ;
   background-color: white;
  //  border: 1px solid grey;
   padding: 25px;
   width: 450px;
   height: 570px;
   font-family: "Interstate","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;

 }
 //
 .modal-overall-container {
   display: inline-block;
 }

.modal-backdrop {
    transition: opacity .2s linear;
    top: 0;
    padding: 500px;
    position: fixed;
    width: 115vw;
    height: 100vh;
    overflow-y: auto;
    // box-sizing: border-box;

    margin-left: -500px;
    right: 0;
    // top: 0px;
    // left: 0px;

    left: 0px;
    z-index: 50;
    background-color: rgba(242,242,242,.9);
  }

.session-form-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-top: 0px;
  margin-top: 76px;

}
.session-form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.create-new-user-homepage-button {
  position: static;
}

.divider {
  margin: 1em auto;
  position: relative;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.3;
  width: 100%;


  &:before {
    display: inline-block;
    width: 43%;
    border-top: 1px solid #333;
    content: " ";
    position: absolute;
    top: .45em;
    left: 0;
  }

  &:after  {
    display: inline-block;
    width: 43%;
    border-top: 1px solid #333;
    content: " ";
    position: absolute;
    top: .45em;
    right: 0;
  }
}

.disclaimer-form {
  margin: 10px 0;
  color: #999;
  font-size: 12px;
  font-family: "Interstate","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;

}

.auth-form-button {
  background-color: #f50;
  border-color: #f50;
  color: #fff;
  font-size: 16px;
  line-height: 18px;
  padding: 10px 15px;
  height: 40px;
  display: inline-block;
  position: relative;
  border-radius: 3px;
  font-weight: 100;
  text-align: center;
  vertical-align: baseline;
  width: 100%;
}

.demo-login {
  font-size: 16px;
  line-height: 18px;
  padding: 10px 15px;
  height: 40px;
  display: inline-block;
  position: relative;
  border-radius: 3px;
  font-weight: 100;
  text-align: center;
  vertical-align: baseline;
  color: #fff;
  border-color: #4285f4;
  background-color: #4285f4;
}

.login-input {
  width: 100%;
  position: relative;
  z-index: 1;
  font-size: 18px;
  line-height: 24px;
  padding: 7px 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
  transition: border-color .1s;
  background: white;
  box-sizing: border-box;

  &:hover{
    border-color: darkgray;
    transition: border-color .1s;
  }
}


.uploadavatarimage {
  display: inline;
  position: absolute;
  max-width:50px;
  max-height:50px;
  right: 42px;
  bottom: 35%;
  width: auto;
  height: auto;
}

.imagepreviewonform {
  display: inline;
}

.filestyle {
  display: inline-block;
  margin-right: -100px;
}

.group-span-filestyle, .bootstrap-filestyle.input-group {
  display: inline-block;
}

.btn.btn-default {
  display: inline-block;
  border: 1px solid grey;
  padding: 5px;
  // margin-right: 100px;
}

body {
  background-color:  #ebebeb;
}

.headercontainer {
  background-image: asset-url('soundcloud-backdrop.jpg');
  background-repeat: no-repeat;
  border-top: 4px solid #f50;
  background-position: center;
  background-size: cover;
  // background-size: 80%;
  height: 450px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;

  button {
    display: inline-block;
    position: relative;
    border-radius: 3px;
    border: 1px solid #e5e5e5;
    text-decoration: none;
    height: 30px;
    font-size: 14px;
    line-height: 20px;
    white-space: nowrap;
    font-weight: 100;
    text-align: center;
    vertical-align: baseline;
    box-sizing: border-box;
    cursor: pointer;
  }
  // border-top: 30px solid #f50;

}

// .hmmmm {
//   height: 50px;
//   width: 90%;
//   background-color: white;
//   margin: 0 auto;
// }

.dummysearch-div{
  width: 100%;
  background-color: white;
  margin: 0 auto;
  font-family: "Interstate", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Garuda, Verdana, Tahoma, sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: center;

  .homepage-search-filler{
    margin: 49px 0 12px 0;
    display: flex;
    align-items: center;

  .homepage-searchbar-div{
    width: 600px;
    margin: 0 auto;
    font-size: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;



    .homepage-searchbar {
      width: 550px;
      font-size: 16px;
      display: inline-block;
      color: black;
      background: #f2f2f2;
      padding: 0 16px;
      height: 46px;
      box-sizing: border-box;
      line-height: 20px;
      outline: 0;
      border: 0;
      border-radius: 4px;

    }

    .homepage-searchbar-button {
    background-size: 19px 19px;
    background-position: center center;
    top: 0;
    right: 0;
    width: 50px;
    height: 46px;
    border: 0;
    padding: 0;
    background-image: asset-url("searchbar.png");
    object-fit: contain;
    position: relative;
    right: 50px;
    color: transparent;
    background-repeat: no-repeat;
    z-index: 2;
    background-color: transparent;
    }

}
.homepage-searchdiv-ancillary-button {

  margin-left: 14px;
  color: #4a4a4a;
  padding: 13px 23px;
  height: 46px;
  font-size: 16px;
  line-height: 18px;
  display: inline-block;
  position: relative;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  background-color: #fff;
  cursor: pointer;
  font-weight: 100;
  text-align: center;
  vertical-align: baseline;
  box-sizing: border-box;
}

.homepage-or-span {
      margin-left: -35px;
      font-size: 16px;
}

}
}


.notloggedin-trending-section {
  padding: 0 30px;
  width: 100%;
  box-sizing: border-box;
  background-color: white;
  margin: 0 auto;
  font-family: "Interstate", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Garuda, Verdana, Tahoma, sans-serif;
  .trending-notlogged-header{
    font-size: 24px;
    text-align: center;
    padding-top: 20px;
    margin-bottom: 30px;
    font-family: "Interstate", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Garuda, Verdana, Tahoma, sans-serif;
    font-weight: 100;


  }

  .top-track-list-div {
        margin-right: -20px;

    .top-track-list {
      list-style: none;
      display: table;

      .dh-li {

        box-sizing: border-box;
        padding-right: 20px;
        width: 16.666%;
        float: left;
        margin-bottom: 35px;

        .dh-img {

          // padding-top: 100%;
          width: 100%;
          height: auto;

          position: relative;
          z-index: 2;

        }

        .dh-title {
          display: block;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          word-break: normal;
          font-weight: 100;
          width: 100%;
          display: block;
          line-height: 1.4;
          font-size: 14px;
        }

        .dh-artist {
          display: block;
          font-weight: 100;
          color: #999;
        }



      }

    }

  }
}

.defaulthomecontainer {
  // top: 50%;
  // position: absolute;
  width: 90%;
  background-color: white;
  margin: 0 auto;




  transform: translate(0, -4.3%);
  // background-color: white;
  height: 100%;
  // position: absolute;
  // background-color:

}



.loginbutton {
  background: 0 0;
  color: white;
  border-color: black;
  margin-right: 6px;
  height: 30px;
  padding: 0 15px;
}

.loginbutton:hover {
  outline: 0;
  border-color: #ccc;
}

.create-new-user-homepage-button:hover {
  outline: 0;
  border-color: brown;
}

.create-new-user-homepage-button {
  height: 30px;
  padding: 0 16px;
  background-color: #f50;
  border-color: #f50;
  color: #fff;
}

.homepagetopbuttons {
  position: absolute;
  top: 20px;
  right: 30px;
}

.homepagelogo {
  height: 70px;
  width: 111px;
  background-image: asset-url('logo.png');
  z-index: 100;
  position: relative;
  left: 20px;
  top: 20px;
}

.errorsul {
  margin-bottom: 15px;
  text-align: center;
  list-style: none;
  color: red;
  font-size: 18px;
  font-family: "Interstate","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;

}



// LOGGED IN HOME PAGE


.navbar {
  display: flex;
  position: fixed;
  justify-content: space-between;
  // border: 1px solid black;
  background: #323232;
  height: 46px;
  font: 100 14px/1.5 "Interstate","Lucida Grande",Arial,sans-serif;
  font-weight: 300;
  width: 1240px;
  // transform: translate(30%, 0%);
  z-index: 20;
  // text-align:center;
  input[type="search"] {
    color: #666;
    outline: 0;
    border: 0;
    padding: 5px 7px;
    background: #e5e5e5;
    box-sizing: border-box;
    height: 28px;
    width: 100%;
    display: inline-block;
    font-family: "Interstate","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;
    font-weight: 100;
    font-size: 14px;
    line-height: 20px;
    width: 50%;
    border-radius: 4px;
    position: absolute;
    transform: translate(-50%, -10%);
    top: 11.5px;
  }

}

.navbar ul {
  height: 46px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 0;
  list-style: none;
  .navbar-search-dropdown-ul {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 45px;
    left: 27.5%;
    width: 50%;

      .navbar-search-item {
      cursor: pointer;
      width: 100%;
      color: #999;
      background: black;
      font: 100 14px/1.5 "Interstate","Lucida Grande",Arial,sans-serif;
      background-image: asset-url('search-icon.png');
      background-size: 20px 20px;
      background-repeat: no-repeat;
      vertical-align: top;
      text-align: left;
      padding: 2px 6px 2px 17px;
      text-indent: 10px;
      box-sizing: border-box;
      // padding: 14px 10px 17px 10px;
      &:hover {
        background-color: #323232;
      }
      }

      .navbar-search-dropdown-header {
        cursor: pointer;
        background-color: #323232;
        width: 100%;
        color: #999;
        text-align: center;
        padding: 2px 6px 2px 17px;
        box-sizing: border-box;
        &:hover {
          color: white;
        }

      }

    .navbar-search-dropdown-header-1 {
      cursor: pointer;
      background-color: #323232;
      width: 100%;
      border-bottom: 1px solid #f50;
      color: #999;
      text-align: left;
      padding: 2px 6px 2px 17px;
      box-sizing: border-box;
      &:hover {
        color: white;
      }
    }



  }
}

.navbar div {
 display: inline-block;
}

.navbar li {
 display: inline-block;
 font: 100 14px/1.5 "Interstate","Lucida Grande",Arial,sans-serif;


 .selected {
   color: #fff!important;
   background-color: #111;
   outline: 0;

 }


 // text-decoration: underline;
}

.navbar .navigation-left li>a {
  display: block;
  padding: 12px 0;
  width: 104px;
  height: 46px;
  border-right: 1px solid #111;
  box-sizing: border-box;
  text-align: center;
}



.navbar .user-dropdown-li {
  display: none;
  list-style: none;
}

.user-dropdown:hover .user-dropdown-li {
  // display: flex;
  // flex-direction: column;
  // text-align: center;
  display: block;
  border: none;
  padding: 6px 0px;
  background-color: black;
  cursor: pointer;
  margin-right: -21.5px;
  border: 1px solid black;
  width: 100%;
    &:hover{
      background-color: #323232;

    }
    &:active{
      color: white;
    }
}

.user-dropdown:hover .user-dropdown-li>a {
    color: #ccc;
    display: block;
    position: relative;
    padding: 8px 10px 8px 33px;
    &:hover {
      background-color: #323232;
    }


}

.navbar a {
    display: inline-block;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 18px;
    height: 20px;
    color: #999;
    height: 100%;
    &:hover {
      color: white;
      background-color: #323232;
    }
    font: 100 14px/1.5 "Interstate","Lucida Grande",Arial,sans-serif;


}

.navbar .user-dropdown-ul {
  position: absolute;
  display: flex;
  flex-direction: column;
  right: 3%;
  top: 100%;
  width: 100%;
  align-items: flex-end;
  padding-top: 0px;
  font: 100 14px/1.5 "Interstate","Lucida Grande",Arial,sans-serif;



}

.navbar .user-dropdown {
  margin: 20px;
}

.nav-username {
  font: 100 14px/1.5 "Interstate","Lucida Grande",Arial,sans-serif;

  position: relative;
  bottom: 11px;
}

.navbar-logout {
  display: inline-block;
  width: 50%;
}

.nav-profile-photo {
  height: 35px;
  width: auto;
  margin-right: 20px;
  margin-bottom: -1px;
  margin-top: 3px;
}

.user-dropdown {
  float: left;
  padding: 12px 28px 12px 10px;
  box-sizing: border-box;
  position: relative;

}

.first-child {
  margin-top: -10px;
}




.navbarlogo {
  border: none;
  padding: 0;
  height: 100%;
  width: 100%;
  background-image:  asset-url('logo-navbar.png');
  background-color: #ff4100;
  object-fit: contain;
  background-position: right 319px top 2px;
    a:hover {
      color: none;
      background-image:  asset-url('logo-navbar.png');
      background-position: right 319px top 2px;
      background-color:  orange;
      object-fit: contain;
    }
  // background-size: cover;
  // background-position: top;
}



.navbar {
  transform: translate(5.4%, -73%);
}

.navbar-color {
  width: 100%;
  position: fixed;
  top:0;
  left: 0;
  height: 46px;
  background-color: #323232;
  z-index: 1;
}
