html {
  height: 100vh;
}

.invisible{
  position: relative;
  width: 100%;
  top: 17px;

}
 .modal-children-container {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   z-index: 9999 ;
   background-color: white;
   border: 1px solid grey;
   padding: 10px;
   border-radius: 3%;
   height: 300px;
 }
 //
 .modal-overall-container {
   display: inline-block;
 }

.modal-backdrop {
    top: 0;
    position: absolute;
    width: 100%;
    height: 100vh;
    // top: 0px;
    // left: 0px;

    right: 0px;
    z-index: 50;
    background-color: rgba(0, 0, 0, 0.3)
  }

.session-form-container {
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-top: 0px;

}
.session-form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.create-new-user-homepage-button {
  position: static;
}

.auth-form-button {
  background: orange;
  color: white;
  width: 100%;
  border-radius: 5px;
  font-weight: 300;
  padding: 7px 15px 8px 15px;
  font-size: 13px;
}


.uploadavatarimage {
  display: inline;
  position: absolute;
  max-width:50px;
  max-height:50px;
  right: 30px;
  bottom: 50%;
  width: auto;
  height: auto;
}

.imagepreviewonform {
  display: inline;
}

.filestyle {
  display: inline-block;
  margin-right: -100px;
}

.group-span-filestyle, .bootstrap-filestyle.input-group {
  display: inline-block;
}

.btn.btn-default {
  display: inline-block;
  border: 1px solid grey;
  padding: 5px;
  // margin-right: 100px;
}

body {
  background-color:  #ebebeb;
}

.headercontainer {
  background-image: asset-url('backgroundimage.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  // background-size: 80%;
  height: 400px;
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;

}

.defaulthomecontainer {
  // top: 50%;
  // position: absolute;
  transform: translate(0, -8%);
  // position: absolute;
  // background-color:
  button {
    display: inline-block;
    position: relative;
    margin: 0;
    border-radius: 3px;
    border: 1px solid #e5e5e5;
    text-decoration: none;
    height: 30px;
    font-size: 14px;
    line-height: 20px;
    white-space: nowrap;
    font-weight: 100;
    text-align: center;
    vertical-align: baseline;
    box-sizing: border-box;
    cursor: pointer;
  }
}



.loginbutton {
  background: 0 0;
  color: black;
  border-color: black;
  margin-right: 6px;
  height: 30px;
  padding: 0 15px;
}

.loginbutton:hover {
  outline: 0;
  border-color: #ccc;
}

.create-new-user-homepage-button:hover {
  outline: 0;
  border-color: brown;
}

.create-new-user-homepage-button {
  background-color: #f50;
  border-color: #f50;
  color: #fff;
}

.homepagetopbuttons {
  position: relative;
  top: 10px;
  right: 10px;
}

.homepagelogo {
  height: 70px;
  width: 111px;
  background-image: asset-url('logo.png');
  z-index: 100;
  position: relative;
  left: 20px;
  top: 20px;
}

.errorsul {
  position: relative;
  top: 10px;
  text-align: center;
  list-style: none;
}



// LOGGED IN HOME PAGE


.navbar {
  display: flex;
  position: fixed;
  justify-content: space-between;
  // border: 1px solid black;
  background: #323232;
  height: 46px;
  font: 100 14px/1.5 "Interstate","Lucida Grande",Arial,sans-serif;
  font-weight: 300;
  width: 1240px;
  // transform: translate(30%, 0%);
  z-index: 20;
  // text-align:center;
}

.navbar ul {
  height: 46px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 0;
  list-style: none;
  // border: 1px solid black;

}

.navbar div {
 display: inline-block;
}

.navbar li {
 display: inline-block;
 font: 100 14px/1.5 "Interstate","Lucida Grande",Arial,sans-serif;

 .selected {
   color: #fff!important;
   background-color: #111;
   outline: 0;

 }


 // text-decoration: underline;
}

.navbar .navigation-left li>a {
  display: block;
  padding: 12px 0;
  width: 104px;
  height: 46px;
  border-right: 1px solid #111;
  box-sizing: border-box;
  text-align: center;
}



.navbar .user-dropdown-li {
  display: none;
  list-style: none;
}

.user-dropdown:hover .user-dropdown-li {
  // display: flex;
  // flex-direction: column;
  // text-align: center;
  display: block;
  border: none;
  padding: 6px 0px;
  background-color: black;
  cursor: pointer;
  margin-right: -21.5px;
  border: 1px solid black;
  width: 100%;
    &:hover{
      background-color: #323232;

    }
    &:active{
      color: white;
    }
}

.user-dropdown:hover .user-dropdown-li>a {
    color: #ccc;
    display: block;
    position: relative;
    padding: 8px 10px 8px 33px;
    &:hover {
      background-color: #323232;
    }


}

.navbar a {
    display: inline-block;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 18px;
    height: 20px;
    color: #999;
    height: 100%;
    &:hover {
      color: white;
      background-color: #323232;
    }
    font: 100 14px/1.5 "Interstate","Lucida Grande",Arial,sans-serif;


}

.navbar .user-dropdown-ul {
  position: absolute;
  display: flex;
  flex-direction: column;
  right: 3%;
  top: 100%;
  width: 100%;
  align-items: flex-end;
  padding-top: 0px;
  font: 100 14px/1.5 "Interstate","Lucida Grande",Arial,sans-serif;



}

.navbar .user-dropdown {
  margin: 20px;
}

.nav-username {
  font: 100 14px/1.5 "Interstate","Lucida Grande",Arial,sans-serif;

  position: relative;
  bottom: 11px;
}

.navbar-logout {
  display: inline-block;
  width: 50%;
}

.nav-profile-photo {
  height: 35px;
  width: auto;
  margin-right: 20px;
  margin-bottom: -1px;
  margin-top: 3px;
}

.user-dropdown {
  float: left;
  padding: 12px 28px 12px 10px;
  box-sizing: border-box;
  position: relative;

}

.first-child {
  margin-top: -10px;
}




.navbarlogo {
  border: none;
  padding: 0;
  height: 100%;
  width: 100%;
  background-image:  asset-url('logo-navbar.png');
  background-color: orange;
  object-fit: contain;
  background-position: right 319px top 2px;
    a:hover {
      color: none;
      background-image:  asset-url('logo-navbar.png');
      background-position: right 319px top 2px;
      background-color:  orange;
    }
  // background-size: cover;
  // background-position: top;
}

input[type="search"] {
  color: #666;
  outline: 0;
  border: 0;
  padding: 5px 7px;
  background: #e5e5e5;
  box-sizing: border-box;
  height: 28px;
  width: 100%;
  display: inline-block;
  font-family: "Interstate","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;
  font-weight: 100;
  font-size: 14px;
  line-height: 20px;
  width: 50%;
  border-radius: 4px;
  position: absolute;
  transform: translate(-50%, -10%);
  top: 11.5px;
}

.navbar {
  transform: translate(5.4%, -70%);
}

.navbar-container {
  // padding: 0 30px;
  box-sizing: border-box;
}
