.header-replacement {
  display: inline-block;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  max-height: 260px;
}


.user-information li{
  display: inline;
}

.user-page-overall {
    display: flex;
    flex-direction: column;

    margin: 0 auto;
    height: 100%;
    width: 100%;
    padding-bottom: 20px;
    background: white;

}

//  background: #518489;
//  background: -webkit-linear-gradient(-45deg, #518489 0%,#343a59 100%);
.user-header {
     display: flex;
     flex-direction: row-reverse;
     height: 260px;
     background-image: asset-url('grey-background.jpg');
     background: -moz-linear-gradient(-45deg, #518489 0%, #343a59 100%); /* FF3.6-15 */
    //  position: relative;
    // transform: translate(0%, 11%);
}

.user-avatar img {
      border-radius: 50%;
      top: 0;
      right: 0;
      position: absolute;
      z-index: 1;
      height: 185px;
      width: 185px;
      object-fit: cover;
    }

.user-avatar {
  position: relative;
  justify-content: center;
  align-items: flex-start;
  left: 60px;
  top: 20px;
  height: 185px;
  width: 185px;
  border-radius: 50%;

  position: relative;
}

.user-avatar-circle {
    justify-content: center;
    align-items: center;
    display: flex;
    flex: 1;
  }

.user-page {
  position: relative;
  bottom: 4px;
  span {
     background-color: black;
     color: white;
     font-size: 24px;
     line-height: 37px;
     padding: 4px 7px;
     display: inline-block;
     margin-top: 0;
     margin: 18px 0 0;
     margin-left: 100px;
     &:last-child {
       margin-right: 20px;
     }

     &:hover {

;
     }
   }

}

.user-page-navlinks {
  display: flex;
  color: #333;
  font-family: "Interstate","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;
  font-size: 18px;
  line-height: 1.8;
  margin: 15px 25px 0px 25px;
  border-bottom: 1px solid #f2f2f2;
  list-style: none;
  position: relative;


  li:first-child {
    margin-left: 0;
  }

  li {
      float: left;
      margin: 0 12px -1px;

      a {
          cursor: pointer;
          color: #333;
          border-bottom: 1px solid transparent;
          display: block;
          text-decoration: none;
          font-weight: 550;
      }
      a.active {
        border-color: #f50;
        color: #f50;
        cursor: default;
      }

      a:hover {
        z-index: 10;
        border-bottom: 1px solid black;
        cursor: pointer;
        background-color: white;
      }

      a.active:hover {
        border-bottom: 1px solid orange;
      }


    }
}

.userpage-follow-button-unfollow{
  min-width: 31px;
  float: left;
  margin-right: 5px;
  color: #f50;
  border: 1px solid #f50;
  display: inline-block;
   position: absolute;
   right: 0;
   height: 26px;
 padding: 2px 11px 2px 10px;
 border-radius: 3px;
  background-color: #fff;
  cursor: pointer;
  box-sizing: border-box;
  font-size: 14px;
  line-height: 20px;
  white-space: nowrap;
  font-family: "Interstate","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;
  font-weight: 100;
  text-align: center;
  vertical-align: baseline;



}


.userpage-follow-button-follow{
  min-width: 31px;
  float: left;
  margin-right: 5px;
  background-color: #f50;
  border-color: #f50;
  color: #fff;
  display: inline-block;
  position: absolute;
  right: 0;
  height: 26px;

  padding: 2px 11px 2px 10px;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  font-size: 14px;
  line-height: 20px;
  white-space: nowrap;
  font-family: "Interstate","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;
  font-weight: 100;
  text-align: center;
  vertical-align: baseline;
  box-sizing: border-box;

}


.userpage-belowheader{
  display: flex;
  flex-direction: row;

  .songindexlist{
    padding-right: 50px;
  }

  .userpage-sidebar{

    position: relative;
    margin: 0 auto;
    width: 300px;
    height: 400px;
    padding-left: 40px;
    border-left: 1px solid #f2f2f2;


  }
}

.stats{
  width: 100%;
  margin: 0 0 14px 0;
  font-size: 14px;
  font-family: "Interstate","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;
  font-weight: 100;
  font-size: 14px;
  font-family: "Interstate","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;
  font-weight: 100;
  display: table;
  border-color: grey;
  .userpage-stats-tbody{
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
    .sidebar-stats-td{
      text-indent: 0;
      width: 33.33%;
      text-align: left;
      border-right: 1px solid #f2f2f2;

      .sidebar-stats-header{
        margin-top: 0;
        line-height: .9;
        padding: 5px 0 3px;
        font-size: 12px;
        font-family: "Interstate", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Garuda, Verdana, Tahoma, sans-serif;
        font-weight: 100;
        color: #999;
      }
      .sidebar-stats-value{
        font-size: 20px;
        line-height: 1.2;
        font-family: "InterstateSound Tnum", "Interstate", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Garuda, Verdana, Tahoma, sans-serif;
        font-weight: 100;
        color: #999;
      }
    }
  }
}
